<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhengke.dao.SysDictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="com.zhengke.pojo.SysDictionaryItem" >
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="param_name" property="paramName" jdbcType="VARCHAR" />
    <result column="param_value" property="paramValue" jdbcType="VARCHAR" />
    <result column="dic_id" property="dicId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="id_selected" property="idSelected" jdbcType="SMALLINT" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="alter_id" property="alterId" jdbcType="INTEGER" />
    <result column="alter_time" property="alterTime" jdbcType="VARCHAR" />
    <result column="is_set" property="isSet" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_id, param_name, param_value, dic_id, status, id_selected, order_id, creater_id, 
    create_time, alter_id, alter_time, is_set
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary_item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_dictionary_item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.zhengke.pojo.SysDictionaryItem" >
    insert into sys_dictionary_item (item_id, param_name, param_value, 
      dic_id, status, id_selected, 
      order_id, creater_id, create_time, 
      alter_id, alter_time, is_set
      )
    values (#{itemId,jdbcType=VARCHAR}, #{paramName,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, 
      #{dicId,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{idSelected,jdbcType=SMALLINT}, 
      #{orderId,jdbcType=INTEGER}, #{createrId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, 
      #{alterId,jdbcType=INTEGER}, #{alterTime,jdbcType=VARCHAR}, #{isSet,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhengke.pojo.SysDictionaryItem" >
    insert into sys_dictionary_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="paramName != null" >
        param_name,
      </if>
      <if test="paramValue != null" >
        param_value,
      </if>
      <if test="dicId != null" >
        dic_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="idSelected != null" >
        id_selected,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="alterId != null" >
        alter_id,
      </if>
      <if test="alterTime != null" >
        alter_time,
      </if>
      <if test="isSet != null" >
        is_set,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="dicId != null" >
        #{dicId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="idSelected != null" >
        #{idSelected,jdbcType=SMALLINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="alterId != null" >
        #{alterId,jdbcType=INTEGER},
      </if>
      <if test="alterTime != null" >
        #{alterTime,jdbcType=VARCHAR},
      </if>
      <if test="isSet != null" >
        #{isSet,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update sys_dictionary_item
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.paramName != null" >
        param_name = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramValue != null" >
        param_value = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.dicId != null" >
        dic_id = #{record.dicId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=SMALLINT},
      </if>
      <if test="record.idSelected != null" >
        id_selected = #{record.idSelected,jdbcType=SMALLINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.createrId != null" >
        creater_id = #{record.createrId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.alterId != null" >
        alter_id = #{record.alterId,jdbcType=INTEGER},
      </if>
      <if test="record.alterTime != null" >
        alter_time = #{record.alterTime,jdbcType=VARCHAR},
      </if>
      <if test="record.isSet != null" >
        is_set = #{record.isSet,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_dictionary_item
    set item_id = #{record.itemId,jdbcType=VARCHAR},
      param_name = #{record.paramName,jdbcType=VARCHAR},
      param_value = #{record.paramValue,jdbcType=VARCHAR},
      dic_id = #{record.dicId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=SMALLINT},
      id_selected = #{record.idSelected,jdbcType=SMALLINT},
      order_id = #{record.orderId,jdbcType=INTEGER},
      creater_id = #{record.createrId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      alter_id = #{record.alterId,jdbcType=INTEGER},
      alter_time = #{record.alterTime,jdbcType=VARCHAR},
      is_set = #{record.isSet,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhengke.pojo.SysDictionaryItem" >
    update sys_dictionary_item
    <set >
      <if test="paramName != null" >
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="dicId != null" >
        dic_id = #{dicId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="idSelected != null" >
        id_selected = #{idSelected,jdbcType=SMALLINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="alterId != null" >
        alter_id = #{alterId,jdbcType=INTEGER},
      </if>
      <if test="alterTime != null" >
        alter_time = #{alterTime,jdbcType=VARCHAR},
      </if>
      <if test="isSet != null" >
        is_set = #{isSet,jdbcType=INTEGER},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhengke.pojo.SysDictionaryItem" >
    update sys_dictionary_item
    set param_name = #{paramName,jdbcType=VARCHAR},
      param_value = #{paramValue,jdbcType=VARCHAR},
      dic_id = #{dicId,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      id_selected = #{idSelected,jdbcType=SMALLINT},
      order_id = #{orderId,jdbcType=INTEGER},
      creater_id = #{createrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      alter_id = #{alterId,jdbcType=INTEGER},
      alter_time = #{alterTime,jdbcType=VARCHAR},
      is_set = #{isSet,jdbcType=INTEGER}
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>